/* 
    font-family: 'Revalia', cursive;
    font-family: 'Roboto', sans-serif;
*/

:root{
    --black: #000;
    --white: #fff;
}

*{
    margin: 0;
    padding: 0;
}

html{
    overflow-x: hidden;
    height: 100%;
}

body{
    min-height: 100%;
    overflow-x: clip;
    position: relative;
}

/* Header */

.header{
    position: relative;
    width: 1440px;
    height: 94px;
}

.header__title{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: var(--black);
    top: 32px;
    left: 35px;
}

.nav{
    display: flex;
    position: absolute;
    flex: 1 1 0;
    top: 36px;
    left: 802px;
}

.nav>.header__nav1, .header__nav2, .header__nav3, .header__nav4{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    color: var(--black);
}

.nav>.header__nav2, .header__nav3, .header__nav4{
    padding-left: 35px;
}

.nav>.header__nav1::before, .header__nav2::before, .header__nav3::before, .header__nav4::before{
    border: none;
}

.nav>.header__nav1:hover, .header__nav2:hover, .header__nav3:hover, .header__nav4:hover{
    cursor: pointer;
}

.nav>.header__nav1::after, .header__nav2::after, .header__nav3::after, .header__nav4::after{
    border: none;
}

.header__btn{
    position: absolute;
    background-color: #373737;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: var(--white);
    padding: 13px 17px 13px 17px;
    width: 120px;
    height: 47px;
    top: 23px;
    left: 1179px;
}

.header__search{
    position: absolute;
    top: 32px;
    left: 1355px;
}

/* Main */

.main{
    position: relative;
    width: 1440px;
    height: 762px;
}

.main__facebook{
    position: absolute;
    top: 251px;
    left: 62px;
}

.main__inst{
    position: absolute;
    top: 321px;
    left: 55px;
}

.main__twitter{
    position: absolute;
    top: 391px;
    left: 55px;
}

.main__blur{
    position: absolute;
    width: 1131px;
    height: 339px;
    top: 159px;
    left: 309px;
}

.main__blurBg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(112.8deg, rgba(207, 207, 207, 0.26) 0%, rgba(207, 207, 207, 0.06) 92.87%);
    backdrop-filter: blur(15px);
}

.main__title{
    position: absolute;
    font-family: 'Revalia', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 35px;
    width: 500px;
    color: var(--black);
    top: 41px;
    left: 254px;
}

.main__subtitle{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--white);
    width: 412px;
    top: 167px;
    left: 298px;
}


.main__btn{    
    position: absolute;
    width: 120px;
    height: 47px;
    border: none;
    border-radius: 5px;
    background-color: #373737;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--white);
    padding: 13px 17px 13px 17px;
    top: 264px;
    left: 461px;
}

/* Stats */

.main__stats{
    position: relative;
    width: 1440px;
    height: 168px;
}

.stats__cotologNum, .stats__csaleNum, .stats__numNum, .stats__catNum, .stats__k1, .stats__k2{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: var(--black);
}

.stats__k1{
    top: 37px;
    left: 480px;
}

.stats__k2{
    top: 37px;
    left: 680px;
}

.stats__cotologNum{
    top: 37px;
    left: 180px;
}

.stats__csaleNum{
    top: 37px;
    left: 395px;
}

.stats__numNum{
    top: 37px;
    left: 621px;
}

.stats__catNum{
    top: 37px;
    left: 868px;
}

.stats__cotologTxt, .stats__saleTxt, .stats__revTxt, .stats__catTxt{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--black);
}

.stats__cotologTxt{
    top: 109px;
    left: 160px;
}

.stats__saleTxt{
    top: 109px;
    left: 384px;
}

.stats__revTxt{
    top: 109px;
    left: 587px;
}

.stats__catTxt{
    top: 109px;
    left: 812px;
}

/* About */

.about{
    position: relative;
    width: 1440px;
    height: 638px;
    top: 168px;
}

.about__border{
    position: absolute;
    width: 69px;
    height: 1px;
    border: 1px solid var(--black);
    top: 181px;
    left: 141px;
}

.about__title{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: var(--black);
    top: 120px;
    left: 141px;
}

.about__subtitle{
    position: absolute;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #373737;
    top: 170px;
    left: 217px;
}

.about__img{
    position: absolute;
    top: 238px;
}

.about__text{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #373737;
    width: 663px;
    top: 238px;
    left: 636px;
}

.about__btn{
    position: absolute;
    background-color: #373737;
    width: 142px;
    height: 47px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 13px 13px 13px 13px;
    top: 430px;
    left: 636px;
}

.about__company{
    position: absolute;
    top: 539px;
    left: 636px;
}

.about__company2{
    position: absolute;
    top: 539px;
    left: 917px;
}

.about__company3{
    position: absolute;
    top: 555px;
    left: 1182px;
}

/* Services */

.service{
    position: relative;
    width: 1440px;
    height: 621px;
    top: 168px;
}

.service__title{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: var(--black);
    top: 120px;
    left: 141px;
}

.service__border{
    position: absolute;
    width: 69px;
    height: 1px;
    border: 1px solid var(--black);
    top: 200px;
    left: 141px;
}

.service__subtitle{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #373737;
    top: 170px;
    left: 217px;
}

/* Card */

.service__card{
    position: absolute;
    width: 366px;
    height: 207px;
    left: 141px;
    top: 275px;
    background: #FFFFFF;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.card__img{
    position: absolute;
    top: 12px;
    left: 12px;
}

#card2{
    left: 537px;
}

#card3{
    left: 933px;
}

.card__title{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: var(--black);
    top: 102px;
    left: 12px;
}

.card__text{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: var(--black);
    top: 135px;
    left: 12px;
}

.cotolog{
    position: relative;
    width: 1440px;
    height: 1178px;
}

.cotolog__title{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: var(--black);
    top: 132px;
    left: 627px;
}

.cotolog__subtitle{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #373737;
    top: 182px;
    left: 545px;
}

.all, .chair, .table, .bed, .sofa, .wardrobe, .almirah, .dimple, .rack, .stand{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #686868;
    margin-left: 30px;
    margin-top: 285px;
}

.all:hover, .chair:hover, .table:hover, .bed:hover, .sofa:hover, .wardrobe:hover, .almirah:hover, .dimple:hover, .rack:hover, .stand:hover{
    cursor: pointer;
}

.all{
    margin-left: 500px;
    color: var(--black);
}

.cotoCard{
    position: absolute;
    left: 85px;
}

.box{
    position: relative;
    background-color: #f9f9f9;
    margin-left: 40px;
    margin-top: 35px;
    width: 267px;
    height: 338px;
    box-shadow: 8px 8px 20px rgba(39, 39, 43, 0.1);
    border-radius: 5px;
}

.cardTitle{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #373737;
    left: 10px;
    bottom: 121px;
}

.cardCeil{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #373737;
    right: 10px;
    bottom: 121px;
}

.cardText{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #696161;
    left: 10px;
    bottom: 63px;
}

.cardBtn{
    position: absolute;
    width: 101px;
    height: 40px;
    background-color: #373737;
    margin-left: 68px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    font-weight: 300;
    font-size: 16px;
    color: var(--white);
    left: 10px;
    bottom: 10px;
}

.card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8{
    display: inline-block;
}

.hide{
    opacity: 1;
    animation-name: a1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes a1{
    to{
        opacity: 0;
        display: none;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }
}

.cotologBtn{
    position: absolute;
    width: 120px;
    height: 37px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    background-color: #373737;
    padding-top: 13px;
    color: var(--white);
    border-radius: 5px;
    left: 590px;
    top: 800px;
}

/* Reviews */

.reviews{
    position: relative;
    width: 1440px;
    min-height: 1335px;
}

.rev__title{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: var(--black);
    top: 50px;
    left: 685px;
}

.rev__subtitle{
    position: absolute;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--black);
    top: 100px;
    left: 590px;
}

.inputName{
    position: absolute;
    padding: 15px 15px 15px 15px;
    width: 315px;
    height: 29px;
    border: 1px solid var(--black);
    background-color: transparent;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    top: 160px;
    left: 80px;
}

.inputBody{
    position: absolute;
    padding: 15px 15px 15px 15px;
    width: 600px;
    height: 300px;
    border: 1px solid var(--black);
    background-color: transparent;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    top: 250px;
    left: 80px;
}

.revField{
    position: absolute;
    width: 623px;
    min-height: 300px;
    top: 727px;
    left: 427px;
}

.comment__name{
    position: relative;
    margin: 0 15px 15px 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    display: inline-block;
    top: -25px;
}

.comment__body{
    position: relative;
    margin: 0px 15px 30px 15px;
    width: 600px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    display: inline-block
}

.comment__time{
    position: relative;
    margin-left: 335px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

#revBtn{
    position: absolute;
    border-radius: 5px;
    width: 134px;
    height: 43px;
    background-color: #373737;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    top: 610px;
    left: 80px;
}

/* Footer */

.footer{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: start;
    background-color: #373737;
    width: 1440px;
    height: 346px;
    bottom: -50px;
}

.group{
    position: relative;
    display: inline-block;
    width: 226px;
    height: 186px;
    margin-top: 80px;
    margin-left: 150px;
}

.group:first-child{
    margin-left: 146px;
}

.footer__title{
    position: absolute;
    font-family: 'Roboto', serif;
    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF;
}

.footer__tel-img{
    position: absolute;
    top: 65px;
}

.footer__tel-text{
    position: absolute;
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    top: 74px;
    left: 42px;
}

.footer__email-img{
    position: absolute;
    top: 108px;
}

.footer__email-text{
    position: absolute;
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    top: 114px;
    left: 42px;
}

.footer__socials{
    position: absolute;
    top: 160px;
} 

.footer__ul-title{
    position: absolute;
    font-family: 'Roboto', serif;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.footer__text{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 16px;
    color: #FFFFFF;
}

.footer__ul-block{
    position: absolute;
    margin-top: 30px;
}

.second__group {
    width: 126px;
}